body {
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
  background: gray;
}

@media (max-width: 600px) {
  body {
    background: red;
  }
}

#welcome-section {
  height: 100vh;
}
h1 {
  margin-top: 155px;
  font-size: 100px;
}
#navbar {
  position: fixed;
  top: 0;
  width: 45%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(50,50,50,0.15);
}
#navLink {
  text-align: center;
}
a, a:visited {
  color: white;
}
#projects {
  height: 700px; 
}

img{
  width: 50%;
  height: 50%;
  border-radius: 50px;
}


p{
  padding: 80px;
  text-align: justify;
}